<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <label for="input">Some Input</label>
    <input id="input"/>
    <button onclick="">click</button>
    <div id="target"></div>
</body>
</html>